<!doctype html>
<html>
  <head>
    <title>Chessboard to FEN detector</title>
    <style>
      p {
        color: black;
        font-size: 12px;
      }
      .FEN {
        font-size: 15px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Chessboard to FEN detector</h1>
    <h2>Upload your image with e-chessboard (eg. from chess.com) and it will convert it to FEN notation</h2>
    <div><table style="width: 305px; height: 192px;" width="243">
      <tbody>
      <tr>
      <td style="width: 65.1406px;"><strong>Figure</strong></td>
      <td style="width: 105.438px;"><strong>FEN for black</strong></td>
      <td style="width: 112.422px;"><strong>FEN for white</strong></td>
      </tr>
      <tr>
      <td style="width: 65.1406px;">Pawn</td>
      <td style="width: 105.438px;">p</td>
      <td style="width: 112.422px;">P</td>
      </tr>
      <tr>
      <td style="width: 65.1406px;">Knignt</td>
      <td style="width: 105.438px;">n</td>
      <td style="width: 112.422px;">N</td>
      </tr>
      <tr>
      <td style="width: 65.1406px;">Bishop</td>
      <td style="width: 105.438px;">b</td>
      <td style="width: 112.422px;">B</td>
      </tr>
      <tr>
      <td style="width: 65.1406px;">Rook</td>
      <td style="width: 105.438px;">r</td>
      <td style="width: 112.422px;">R</td>
      </tr>
      <tr>
      <td style="width: 65.1406px;">Queen</td>
      <td style="width: 105.438px;">q</td>
      <td style="width: 112.422px;">Q</td>
      </tr>
      <tr>
      <td style="width: 65.1406px;">King</td>
      <td style="width: 105.438px;">k</td>
      <td style="width: 112.422px;">K</td>
      </tr>
      </tbody>
      </table></div>
      <p><a href={{ url_for('example') }}>Show me example!</a></p> 
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    </p>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    {% if src_base64 %}
      <h2>Your image:</h2>
      <div>
        <img src={{src_base64}}>
      </div>
    {% endif %}
    {% if result %}
    <h2>Found boards:</h2>
      {% for board, fen in result %}
      <p class="FEN";>{{fen}}</p>
      <p><img src={{board}}></p>
      {% endfor %}
    {% endif %}
  </body>
</html>